@{
    ViewData["Title"] = "Hoşgeldiniz";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz 👋🏻</h1>
    <br />
        <a class="btn btn-primary text-light" asp-controller="ServiceModels" asp-action="Index">Randevu almak istiyorum</a>

        <a class="btn btn-primary text-light" asp-area="Identity" asp-page="/Account/Login">Yönetim Paneline git</a>
</div>