@import "tailwindcss";

@keyframes gradientShift {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.background {
	background: linear-gradient(
		135deg,
		#f8f6f4,
		#e8e4df,
		#d4cfc8,
		#f5f1ed,
		#fff9f5,
		#ebe6e1
	);
	background-size: 300% 300%;
	animation: gradientShift 15s ease infinite;
}
.services-container {
	@apply px-10 py-10;
	background: linear-gradient(
		135deg,
		#f8f6f4,
		#e8e4df,
		#d4cfc8,
		#f5f1ed,
		#fff9f5,
		#ebe6e1
	);
	background-size: 300% 300%;
	animation: gradientShift 15s ease infinite;
}
.text-large-title {
	@apply text-stone-900 text-4xl font-bold mb-4 text-center;
}
.text-small-title {
	@apply text-amber-300 text-3xl font-semibold;
}

.text-small-subtitle {
	@apply text-amber-500 text-2xl font-semibold mb-2;
}
.text-small {
	@apply text-amber-50 text-lg font-medium;
}

.glass-bg {
	@apply backdrop-blur-xl bg-white/10 border border-white/20 shadow-2xl;
	background: rgba(255, 255, 255, 0);
	backdrop-filter: blur(4px) saturate(180%);
	-webkit-backdrop-filter: blur(10px) saturate(180%);
}
.nav-glass-bg {
	@apply backdrop-blur-xl shadow-2xl;
	background: linear-gradient(
		135deg,
		rgba(255, 255, 255, 0.1),
		rgba(255, 255, 255, 0.05)
	);
	backdrop-filter: blur(50px) saturate(180%);
	-webkit-backdrop-filter: blur(10px) saturate(180%);
}

.glass-btn-1 {
	@apply shadow-2xl px-4 py-3 text-white rounded-lg transition font-bold text-sm border-1 gap-1;
	border-bottom: 4px solid rgb(0, 94, 255);
	background-color: rgba(0, 0, 0, 0.7);
	width: 150px;
	text-align: center;
}
.glass-btn-2 {
	@apply shadow-2xl inline-block px-4 py-3 text-white rounded-lg transition font-bold text-sm border-1;
	border-bottom: 4px solid rgba(255, 0, 0, 0.729);
	background-color: rgba(0, 0, 0, 0.7);
	width: 150px;
	text-align: center;
}
.glass-btn-3 {
	@apply shadow-2xl inline-block px-4 py-3 text-white rounded-lg transition font-bold text-sm border-1;
	background-color: rgba(0, 0, 0, 0.7);
	border-bottom: 4px solid rgba(255, 221, 0, 0.877);
	width: 150px;
	text-align: center;
}
