@{
    <h1>Thank You, @ViewData["CustomerName"]!</h1>

}

<h1>Thank You!</h1>
<p>Your appointment request has been submitted successfully.</p>
<p>Please check your email for a confirmation link to finalize your booking.</p>
<a href="/">Return to Home</a>
