@{
    <h1>Randevu isteğiniz alındı, @ViewData["CustomerName"]!</h1>

}
<br/>
<h2>RANDEVUNUZU ONAYLAYIN!</h2>
<br/>
<h3>Randevunuzu onaylamak için, lütfen size e-posta ile gönderilen linki doğrulayın.</h3>
<br />
<a href="/" class="btn btn-secondary">Geri Dön</a>
